# pip install -r requirements.txt

fastapi
uvicorn[standard]
sqlalchemy
aiosqlite
databases[aiosqlite]
python-dotenv
pydantic-settings
rich
asgi-correlation-id
python-json-logger
logtail-python
python-jose
python-multipart
passlib[bcrypt]
aiofiles # work with system files asynchronously
b2sdk # backblaze b2 cloud storage
